.header {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background: 100% no-repeat
    url("https://content3.jdmagicbox.com/comp/def_content/badminton-courts/1-badminton-courts-1-m069r.jpg?clr=2b3b2b"); */
  /* filter: brightness(70%); */
}

.background-image {
  width: 100%;
  filter: brightness(70%);
  background-color: #231f20;
}

.content-container {
  padding: 1rem;
  position: absolute;
}

.title-container {
  height: 100%;
}

.title {
  font-weight: 575;
}

.header-button {
  width: fit-content;
  border: 0.25rem solid transparent;
  outline: 0.25rem solid #dc3545;
}
